.border {
    border: 1px solid rgb(255, 0, 102);
}

body {
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border: 0 solid rgb(231, 9, 179);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: rgb(231, 9, 179);
    padding: 10px 25px;
}

.navbar {
    padding-left: 100px;
}

.navbar-items {
    display: flex;
    gap: 10px;
}

.navbar-l {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    gap: 10px;
    width: 80%;
}

.navbar-l img {
    width: 15%;
    height: auto;
}

.navbar-r {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
}

.navbar-r-btn {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
    width: 45%;
    background-color: rgba(11, 2, 35, 10%);
    border-radius: 10px;
    color: #3C354F;
}

.navbar-r-btn img {
    width: 10%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    /* grid-template-columns: 50%; */
}

.top-l-s {
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 140px;
}

.bg-img {
    background-image: url("images/bg.png");
    width: 100%;
}

.b-1 {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.top-text {
    font-size: 24px;
    font-weight: bolder;
}

.goat {
    font-size: 48px;
    font-weight: bolder;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secnd-btn {
    border: 0 solid rgb(231, 9, 179);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #4EC5F7;
    padding: 10px 20px;
}

.top-r-s {
    margin-right: 60px;
}

.top-r-img {
    width: 100%;
}

.sec-one {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: rgba(255, 66, 165, 3%);
}

.sec-one-l-s img {
    width: 120%;
    height: auto;
}

.sec-one-r-s {
    margin-left: 40px;
    padding-left: 60px;
    padding-right: 100px;
    text-align: right;
    color: #534C64;
}

.sec-one-r-s h2 {
    font-size: 48px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funsection {
    margin-left: 100px;
    margin-right: 100px;
}

.funtitle {
    text-align: center;
}

.funtitle h1 {
    font-size: 48px;
    font-weight: bold;
}

.funtitle span {
    font-size: 48px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funtitle p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.funcard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
}

.funcard img {
    width: 100%;
    height: auto;
}

.funcard p {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
}

.sec-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
}

.s4-head {
    font-size: 48px;
    font-weight: 700;
}

.s4-head span {
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s4-l {
    margin-left: 130px;
    margin-right: 20px;
    text-align: end;
    padding-left: 50px;
}

.s4-r {
    margin-left: 100px;
    position: relative;
}

.s4-img {
    width: 80%;
    height: auto;
}

.s4-img-2 {
    width: 35%;
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.sec-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
}

.s5-head {
    font-size: 48px;
    font-weight: 700;
}

.s5-head span {
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s5-l {
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 100px;
    position: relative;
}

.s5-r {
    margin-top: 70px;
    margin-right: 130px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.s5-img {
    width: 80%;
    height: auto;
}

.s5-img-2 {
    width: 35%;
    position: absolute;
    bottom: -50px;
    right: 20px;
}

.sec-6 {
    display: grid;
    background-color: #FF42A5;
    grid-template-columns: repeat(2, 1fr);
    color: #FFFFFF;
}

.sec-6 img {
    width: 100%;
    height: auto;
}

.s6div-1 {
    margin-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.s6-head {
    font-size: 32px;
    font-weight: 700;
}

.s6-det {
    font-size: 12px;
}

.s6-li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.s6-btn {
    border: 0;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 600;
    color: rgb(231, 9, 179);
    background-color: white;
    padding: 10px 20px;
}

.btn-img {
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 50px 70px;
    background-color: rgba(255, 66, 165, 3%);
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn button {
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

.btn :hover {
    border: 1px solid rgba(255, 66, 165, 100%);
    color: rgba(255, 66, 165, 100%);
}

.btn img {
    width: 18%;
    height: 18%;
}

footer {
    background-color: rgba(11, 2, 35, 100%);
    padding: 50px 100px;
    display: grid;
    color: white;
    justify-items: center;
    align-items: center;
}

.f-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.f-1 p {
    font-size: 30px;
    font-weight: bold;
}

.f-1 img {
    width: 30%;
    height: 30%;
}

.f-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 13px;
    font-weight: 600;
}

.f-3 {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.f-3 img {
    width: 8%;
    height: auto;
}

.f-4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: rgb(255, 255, 255, 60%);
    font-size: 11px;
    font-weight: 500;
}

.f-5 {
    color: rgb(255, 255, 255, 60%);
    font-size: 11px;
    font-weight: 500;
}